main {
  flex: 1;
  margin: 3rem;
}

main > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > nav > div h2,
.city-row h2 {
  font-size: 1.4rem;
  color: var(--grey);
  font-weight: 400;
}

form {
  background-color: #f6f6f6;
  padding: 0.9rem 1.6rem;
  border-radius: 100px;
  display: flex;
  border: 2px solid transparent;
}

form input {
  border: none;
  background-color: #f6f6f6;
  width: 180px;
  outline: none;
}

form i {
  padding-right: 1rem;
  font-size: 1.4rem;
  color: var(--greydark) !important;
  cursor: pointer;
}

form input::placeholder {
  color: var(--greydark);
}

.city-container {
  position: relative;
}

.city-row {
  background: var(--secondary);
  border-radius: 2rem;
  padding: 2rem 4rem;
  margin-top: 4.2rem;
  display: flex;
  justify-content: space-between;
  height: 250px;
  transition: 0.3s;
}

.opacity-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background: #bce4f741;
  transition: 0.4s;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 999;
}

.loader-wrapper .loader {
  width: 100%;
  transition: 0.3s;
}

.guide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
  z-index: 99;
  transition: 0.3s;
}

.guide h1 {
  font-size: 3rem;
  color: var(--greydark);
}

.guide-links {
  display: flex;
  align-items: center;
}

.guide-links button {
  color: var(--primary);
  border: 2px solid var(--primary);
  margin: 1rem;
  display: block;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.guide-links .location {
  background: var(--primary);
  color: var(--light);
}

.guide-links .location i {
  margin-right: 0.3rem;
}

.city-col {
  width: 35%;
}

.city-col img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: none;
  margin: 0 0 0 auto;
  transform: scale(1.2);
  transform-origin: bottom;
}

.city-image-col {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.city-col h1 {
  color: var(--greydark);
  font-size: 3rem;
}

.city-col h2 {
  font-size: 2rem;
  margin: 0rem 0 3.8rem;
}

.city-col span {
  display: block;
  font-size: 5.6rem;
  font-weight: 300;
  color: var(--greydark);
}

/* ----  weather section styling  ---- */

.weather-section {
  margin-top: 2rem;
}

.switch-days button {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
.switch-days button::after {
  content: "";
  display: block;
  width: 55%;
  height: 2px;
  background: var(--greydark);
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.switch-days button.activated {
  color: var(--greydark);
}

.switch-days button.activated::after {
  display: block;
}

.switch-days :last-child {
  margin-left: 1rem;
}

/*  */
.switch-unit button {
  text-align: center;
  border: 1px solid var(--greylight);
  padding: 0.3rem 0.4em;
  border-radius: 2rem;
}

.switch-unit button.activated {
  border: none;
  background: var(--primary);
  color: var(--light);
}

.switch-unit :last-child {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
}

/* weather row */
/* weekly */
.weather-row {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.3s;
}

.weather-col {
  flex-basis: 22.31%;
  border-radius: 2rem;
  border: 1px solid #ccc;
  color: var(--greydark);
  padding: 1.2rem;
  margin: 1rem;
}

.weather-col h1 {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  color: var(--greydark);
  font-weight: 600;
  font-size: 1.4rem;
}

.weather-col h1 small {
  font-size: 1.2rem;
  color: #777;
  font-weight: 500;
}

.weather-col .flex > i {
  font-size: 2rem;
}

.weather-col .l {
  margin-top: 2.5rem;
}

.weather-col h2 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.weather-col h2 i {
  margin-right: 0.5rem;
  color: var(--primary);
}

.weather-col h3 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 0;
}

.weather-col .icon {
  width: 40px;
  height: 40px;
}

.weather-col .icon img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.weather-col.activated {
  border: 2px solid var(--primary);
}

/* Footer Styling */

footer {
  margin-top: 2rem;
}

footer h1 {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--greydark);
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-col {
  padding: 2rem;
  width: 32%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f5f5;
}

.footer-col > img {
  position: absolute;
  top: -50px;
  right: -40px;
  width: 110px;
  opacity: 0.7;
}

.footer-col h2 {
  font-size: 1.5rem;
  color: var(--greylight);
  margin-bottom: 1rem;
}

.footer-col ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-col ul li {
  display: block;
  width: max-content;
  text-align: center;
  padding: 16px;
}

.footer-col ul img {
  width: 4rem;
  height: 4rem;
  background: #ffdf68;
  border-radius: 50%;
  padding: 1.5rem;
}

.air-quality {
  display: flex;
  align-items: center;
  background: #ffdf68;
  border-radius: 1.5rem;
  color: #444;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.air-quality p:nth-child(1) {
  border-right: 2px solid #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  padding-right: 1rem;
}

.air-quality span {
  font-size: 1.8rem;
  font-weight: 600;
}

.air-quality p:nth-child(2) {
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 600;
}
