.sidebar {
  padding: 2rem 3rem;
  width: 35%;
  background: #fafafa;
}

.sidebar > div,
.sidebar > nav,
.sidebar > article {
  background: var(--light);
  padding: 1.6rem 1.2rem;
}

.sidebar article {
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;
}

.sidebar article img {
  width: 3rem;
}
.sidebar article p {
  margin: 1rem;
  font-size: 0.88rem;
  font-weight: 700;
  color: #f04c8c;
}
.sidebar nav i {
  width: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #aaa;
  fill: #f04c8c;
}

.advertise-app {
  margin-top: 3rem;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.advertise-app > img {
  border-radius: 1.3rem;
  padding: 0.2rem;
  border: 2px solid #f04c8c;
  margin: 2rem;
  width: 200px;
  height: 200px;
}

.advertise-app div {
  width: 100%;
  margin: 1rem;
  margin-top: 2rem;
}
.advertise-app div:nth-child(2) img {
  width: 12rem;
}
.advertise-app div h3 {
  font-weight: 700;
  font-size: 12px;
}
.advertise-app div p {
  font-size: 12px;
  opacity: 0.4;
  margin-top: 1rem;
}

.advertise-app div img {
  width: 100px;
}

.add_city {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ec9633;
  margin-top: 2rem;
}
.add_city img {
  width: 70%;
}

.add_city a {
  background-color: #f04c8c;
}
